<section class="bgimage">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="hero-title">got a bug? get a duck.</h5>
                <div>
                    <a href="#" class="btn btn-info">buy a duck »</a>
                    <a href="#" class="btn btn-outline-info">sell a duck »</a>
                </div>
        </div>
    </div>
</div>
</section>