<nav class="container footer">
	<div class="row">
	<div class="col-12 col-6 col-md-3 text-md-left text-center">
		<p>dev-duck-swap</p>
	</div>
	<div class="col-12 col-6 col-md-3 text-md-left text-center">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">All ducks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Your ducks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Your favourites</a>
			</li>
		</ul>
	</div>
		<div class="col-12 col-6 col-md-3 text-md-left text-center">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Your profile<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Edit profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Cancel account</a>
			</li>
		</ul>
	</div>

		<div class="col-12 col-6 col-md-3 text-md-left text-center">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Twitter<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Linkedin</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Github</a>
			</li>
		</ul>
	</div>
</div>
</nav>
