  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container d-flex justify-content-around">

      <ul class="navbar-nav mr-auto flex-row">
			<li class="nav-item">
				<a class="nav-link" href="#">Github | </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">  Twitter</a>
			</li>
		</ul>
        
        <small>Copyright &copy; Your Website</small>
              
    </div>
  </footer>

